body {
  font-family: 'Poppins', sans-serif;
  background-color: #9d9d9d;
  color: #000000;
  margin: 0;
  padding: 0;
}

header {
  background: #1f1f1f;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #ffffff;           /* Default color */
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background-color: #1f1f1f;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav a:link,
nav a:visited {
  color: #f0f0f0;
}

nav a:hover {
  color: #ababab;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.profile-pic {
  width: 200px;          /* Or any size you want */
  height: auto;
  display: block;
}

.intro {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap; /* Makes it responsive */
}

.intro-text {
  max-width: 600px;
  color: #f0f0f0;
}
